@import "tailwindcss";

@theme {
  --font-canela: var(--font-canela);
  --font-ppNeueMontreal: var(--font-ppNeueMontreal);
}

body {
  font-family: var(--font-ppNeueMontreal);
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100vw;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* globals.css or similar */

/* Define the keyframes for your slide-out and slide-in effect */
@keyframes slide-out {
  0% {
    transform: translateY(0);
    filter: brightness(1);
  }
  100% {
    transform: translateY(-35%);
    filter: brightness(0.4);
  }
}

@keyframes clip-in {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

/* Apply the animations using the view-transition pseudo-elements */
::view-transition-old(root) {
  animation: slide-out 1000ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

::view-transition-new(root) {
  animation: clip-in 1000ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.lines {
  display: block;
  overflow: hidden;
}
